$facebook: #4267b2;
$twitter: #1da1f2;
$youtube: #ff0000;
$instagram: #c13584;
$linkedin: #2867b2;
$github: #000;
$pinterest: #e60023;
$google: #f4b400;
$rss: #e58738;
$email: #2da112;
$snapchat: #fffc00;
$podcast: #8f35cb;