.post-user {
  color: #8f8f8f;
}

.post-user span {
  font-weight: bold;
}

.post-content {
  padding: 1.4rem 2.4rem;
  font-size: 14px;
  color: #444;
}

.post-tags {
  font-size: 14px;
  color: #8f8f8f;
}

@media only screen and (min-width: 600px) {
  .card-blog {
    max-width: 35.5rem;
  }
}
